POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=disasteraid
POSTGRES_USER=disasteraid_user
POSTGRES_PASSWORD=CHANGE_ME_strong_password_here

PORT=3000
NODE_ENV=development

CORS_ORIGINS=http://localhost:5000,http://127.0.0.1:5000,http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000,http://localhost:8080
SOCKET_CORS_ORIGIN=http://localhost:5000,http://127.0.0.1:5000,http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000,http://localhost:8080

JWT_SECRET=disasteraid_super_secret_key_min_32_chars_change_in_prod_12345
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=dummy
CLOUDINARY_API_KEY=dummy
CLOUDINARY_API_SECRET=dummy

STRIPE_SECRET_KEY=sk_test_dummy
